@mixin bg-color($key) {
  background-color: map-get($map: $colors-light, $key: $key);
  [data-theme='dark'] & {
    background-color: map-get($map: $colors-dark, $key: $key);
  }
}
@mixin text-color($key) {
  color: map-get($map: $colors-light, $key: $key);
  [data-theme='dark'] & {
    color: map-get($map: $colors-dark, $key: $key);
  }
}
